[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = umbrella project for emulation of smart card readers or smart cards
[access "refs/*"]
	owner = group user/Marshal (marshaltang)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Marshal (marshaltang)
	label-Verified = -1..+1 group user/Marshal (marshaltang)
	push = group user/Marshal (marshaltang)
	read = group user/Marshal (marshaltang)
	rebase = group user/Marshal (marshaltang)
	removeReviewer = group user/Marshal (marshaltang)
	submit = group user/Marshal (marshaltang)
[access "refs/heads/*"]
	create = group user/Marshal (marshaltang)
	push = +force group user/Marshal (marshaltang)
	pushMerge = group user/Marshal (marshaltang)
	read = group user/Marshal (marshaltang)
[access "refs/tags/*"]
	push = group user/Marshal (marshaltang)
	push = +force group user/Marshal (marshaltang)
